fastapi
uvicorn[standard]
sqlalchemy>=1.4
asyncpg             # for Postgres
alembic
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-multipart     # for file uploads
aiofiles             # for saving files
python-dotenv